In [20]:
import pandas as pd
import numpy as np
s=pd.Series([1,2,3,np.nan,4],dtype=np.float32)
s.isnull()
s.notnull()
s.dropna()

0    1.0
1    2.0
2    3.0
4    4.0
dtype: float32

In [23]:
s=pd.Series([1,2,3,4],dtype=np.int32)
s

0    1
1    2
2    3
3    4
dtype: int32

w=pd.DataFrame([[1,2,34,6,np.nan],[np.arange(5)],[24,56,35,13,45]])
w

In [37]:
w=pd.DataFrame([[1,2,34,6,np.nan],[np.arange(5)],[24,56,35,13,45]]) 
w.isnull()
w.notnull()
w.dropna()
w

                 0     1     2     3     4
0                1   2.0  34.0   6.0   NaN
1  [0, 1, 2, 3, 4]   NaN   NaN   NaN   NaN
2               24  56.0  35.0  13.0  45.0