In [1]:
import pandas as pd
import pandas as pd
# Create URL 
url = 'https://tinyurl.com/titanic-csv'
# Load data
dataframe = pd.read_csv(url)
# Rename column, show two rows 
dataframe.rename(columns={'PClass': 'Passenger Class'}).head(2)

,Name,Passenger Class,Age,Sex,Survived,SexCode
0,"Allen, Miss Elisabeth Walton",1st,29.0,female,1,1
1,"Allison, Miss Helen Loraine",1st,2.0,female,0,1

In [2]:
import collections
# Create dictionary 
column_names = collections.defaultdict(str)
# Create keys
for name in dataframe.columns:   
    column_names[name]
# Show dictionary
column_names

defaultdict(str,
            {'Name': '',
             'PClass': '',
             'Age': '',
             'Sex': '',
             'Survived': '',
             'SexCode': ''})

In [22]:
import numpy as np

a=pd.DataFrame([np.arange(9)],[np.arange(9,18)])
a[0]=13
a.drop[0]

TypeError: 'method' object is not subscriptable